#body {
	background-image: url('../img/pozadina.png');
}

#boja {
	border-color: black;
}

#navboja {
	background-color: #cacaca;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 42px;
}